USE [master]
GO
/****** Object:  Database [Project_Finally]    Script Date: 1/17/2025 11:25:24 AM ******/
CREATE DATABASE [Project_Finally]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_Finally', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DOANVANNGUYEN\MSSQL\DATA\Project_Finally.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_Finally_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DOANVANNGUYEN\MSSQL\DATA\Project_Finally_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_Finally].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_Finally]
GO
/****** Object:  Table [dbo].[Table_Login]    Script Date: 1/17/2025 11:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Login](
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Table_Login] PRIMARY KEY CLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Project_Finally]    Script Date: 1/17/2025 11:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Project_Finally](
	[NameDriver] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Telephone] [nchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CCCD] [nchar](12) NOT NULL,
	[Area] [nvarchar](255) NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[VehicleName] [nvarchar](50) NOT NULL,
	[VehicleNo] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Table_Project_Finally_1] PRIMARY KEY CLUSTERED 
(
	[VehicleNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
